%h2 Your surveys

%ul
  - current_admin.surveys.modifiable.each do |survey|
    %li= link_to "#{survey.name}", admin_survey_path(survey)

%hr

%a.btn.btn-primary{href: new_admin_survey_path}
  Create a survey

