%p This is the admin welcome

.controls
  .fl
    %input#num_samples{value:8, min: 1, max: 999, type:'number'}
    %label samples per day, spaced
    %input#mean_time{value: 60, min: 1, max:999, type:'number'}
    %label ±
    %input#time_range{:value => 15, min: 0, max: 999, type:'number'}
    %label minutes apart
#demo
   