%p This is the admin welcome

.controls
  .fl
    %input#num_samples{:value => 8}
    %label Number of samples per day
  .fl
    %input#mean_time{:value => 60}
    %label Mean time between samples (min)
  .fl
    %input#time_range{:value => 30}
    %label Range interval (min)
#demo
   