*.rbc
*.sassc
.sass-cache
capybara-*.html
tags
gems.tags
.rspec
/.bundle
/vendor/bundle
/config/database.yml
/config/deploy.rb
/config/unicorn.rb
/log/*
/tmp/*
/db/*.sqlite3
/db/*.sqlite3-*
/public/system/*
/public/assets/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
.byebug_history
/config/deploy
node_modules
yarn.lock
