- @page_title = "Edit availability"
%h3 Set your text messaging availability
%p To set your availability, enter your phone number and login code.
= form_for @participant, builder: TwoColumnFormBuilder, url: survey_login_path(current_survey), id:'login_form' do |f|
  = f.phone_field :phone_number, value: humanize_phone_number(@participant.phone_number), tabindex:1, autofocus: true
  = f.text_field :login_code, tabindex: 2, follow_field_with: button_tag('Text me my login code!', name: 'send_code', id: 'send_code_button', type: 'submit')
  = f.submit "Log in!", name: 'login', tabindex: 3
