= form_for @participant, url: survey_path(current_survey), builder: TwoColumnFormBuilder do |f|
  = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: "Central Time (US & Canada)"
  = f.submit "Save my settings"