%h1 Welcome to the Your Mom!

= form_tag admin_login_path, id:'login_form' do
  = email_field_tag :email, params[:email], autofocus:params.exclude?(:email), size: 30, placeholder: 'email'
  = password_field_tag :password, '', autofocus:params.include?(:email), placeholder: 'password'
  = submit_tag "Let me in!"