rails_env = ENV['RAILS_ENV'] || 'production'

worker_processes 1

preload_app true

timeout 20

listen 8007

pid '/path/to/app/shared/pids/unicorn.pid'

working_directory '/path/to/app/current'

before_fork do |server, worker|
  # there's no need for the master process to talk to activerecord
  defined?(ActiveRecord::Base) and
    ActiveRecord::Base.connection.disconnect!
end


after_fork do |server, worker|
  # this is required for Rails + "preload_app true"
  defined?(ActiveRecord::Base) and ActiveRecord::Base.establish_connection
end
