= link_to "Back to participant list", admin_survey_participants_path(current_survey)

%ol.schedule
  - current_participant.schedule_days.each do |schedule_day|
    %li #{schedule_day.date}: #{schedule_day.time_ranges_string}