// ---------------------------------------------------------------------------
// Imports

@import 'susy';

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;

$susy: (
    columns: $total-columns,
    column-width: $column-width,
    gutters: $gutter-width / $column-width
);
