$purple:        #6e2cc6 !default;
$blue:        #5e44e2 !default;

$brand-primary: $purple; 
$brand-primary: $purple; 
$link-color:    $purple;
//$body-bg:       #eef;

$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif;

@import "bootstrap";
@import "screen";
@import "admin/theme";
@import "admin/simulator";

