// ---------------------------------------------------------------------------
// Imports

@import "_base";

/* -------------------------------------------------------------------------*/
/* Layout */

body { font: 100%/1.5 Verdana, sans-serif; }

code { font-family: Consolas, Monaco, monospace; }

#page {
  @include container;
  position: relative;
}

#logout {
  position: absolute; top: 0; right: 0;
}

.grid {
  @include susy-grid-background;
}

.nowrap {
  white-space: nowrap;
}

form {
  overflow: auto;
  .line {
    @include span-columns(12 omega);
    .col1 {
      @include span-columns(4,12);
      text-align: right;
    }
    .col2 {
      @include span-columns(8 omega,12);
    }

    span.status {
      padding-left: 1em;
    }
    span.success {
      color: #0F8A17;
    }
    span.failure {
      color: #A6030E;
    }
  }
}

#help {
  clear: both;
  margin-top: 1em;
}