// ---------------------------------------------------------------------------
// Imports

@import 'base';

// Layout

$small-text: 72%;

$ok-foreground: #29580c;
$ok-background: #bbedc3;

$warn-foreground: #986319;
$warn-background: #fee98b;

$error-foreground: #8f1919;
$error-background: #f1b8c2;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 100%/1.5 Verdana, sans-serif;
}

code { font-family: Consolas, Monaco, monospace; }

.page {
  margin: 1em;
}

.top-nav {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
}

table {
  border-collapse: collapse;
  font-size: 80%;
  margin-top: 1em;
}

th,
td {
  padding: 0 8px;
}

.nowrap {
  white-space: nowrap;
}

form {
  overflow: auto;

  .line {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 40% auto;

    .col1 {
      text-align: right;
    }

    .col2 {
    }

    .status {
      padding-left: 1em;
    }

    .success {
      color: $ok-foreground;
    }

    .failure {
      color: $error-foreground;
    }
  }

  .instructions {
    color: #333;
    font-size: $small-text;
    margin-bottom: .5em;
  }
}

.status-light {
  font-size: $small-text;
  margin-left: 1.2em;
  padding: .1em .3em;

  &.active {
    background-color: $ok-background;
    color: $ok-foreground;
  }

  &.closed,
  &.suspended {
    background-color: $warn-background;
    color: $warn-foreground;
  }

  &.error {
    background-color: $error-background;
    color: $error-foreground;
  }
}

.help {
  clear: both;
  margin-top: 1em;
}
