// ---------------------------------------------------------------------------
// Imports

@import "_base";

/* -------------------------------------------------------------------------*/
/* Layout */

$small-text: 72%;

$ok-foreground: #4F4F4F;
$ok-background: #C5FCA9;
$ok-highlight: #89B076;

$warn-foreground: #030303;
$warn-background: #FBFC92;
$warn-highlight: #FCB892;

$error-foreground: #4F4F4F;
$error-background: #FCACAC;
$error-highlight: #B07878;


body { font: 100%/1.5 Verdana, sans-serif; }

code { font-family: Consolas, Monaco, monospace; }

#page {
  @include container;
  position: relative;
}

#logout {
  position: absolute; top: 0; right: 0;
}

.grid {
  @include susy-grid-background;
}

table {
  margin-top: 1em;
  font-size: 80%;
  border-collapse: collapse;
}

th, td {
  padding: 0 8px;
}

.nowrap {
  white-space: nowrap;
}

form {
  overflow: auto;
  .line {
    @include span-columns(12 omega);
    .col1 {
      @include span-columns(4,12);
      text-align: right;
    }
    .col2 {
      @include span-columns(8 omega,12);
    }

    span.status {
      padding-left: 1em;
    }
    span.success {
      color: #0F8A17;
    }
    span.failure {
      color: #A6030E;
    }
  }
  .instructions {
    font-size: $small-text;
    color: #333;
    margin-bottom: 0.5em;
  }
}

#twilio_status {
  font-size: $small-text;
  margin-left: 1.2em;
  border: 1px solid transparent;
  padding: .3em .5em;
  &.active {
    background-color: $ok-background;
    color: $ok-foreground;
    border-color: $ok-highlight;
  }
  &.closed, &.suspended {
    background-color: $warn-background;
    color: $warn-foreground;
    border-color: $warn-highlight;
  }
  &.error {
    background-color: $error-background;
    color: $error-foreground;
    border-color: $error-highlight;
  }
}

#help {
  clear: both;
  margin-top: 1em;
}