// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_base";

#days {
  list-style: none;
  li {
    @include container;
  }
  label {
    display: block;
    @include span-columns(1);
    text-align: right;
  }
}